/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import './modern-design.css';

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--modern-primary);
  --ifm-color-primary-dark: var(--modern-primary-hover);
  --ifm-color-primary-darker: var(--modern-primary-darker);
  --ifm-color-primary-darkest: var(--modern-primary-darkest);
  --ifm-color-primary-light: var(--modern-primary-light);
  --ifm-color-primary-lighter: var(--modern-primary-lighter);
  --ifm-color-primary-lightest: var(--modern-primary-lightest);
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: var(--modern-primary);
  --ifm-color-primary-dark: var(--modern-primary-hover);
  --ifm-color-primary-darker: var(--modern-primary-darker);
  --ifm-color-primary-darkest: var(--modern-primary-darkest);
  --ifm-color-primary-light: var(--modern-primary-light);
  --ifm-color-primary-lighter: var(--modern-primary-lighter);
  --ifm-color-primary-lightest: var(--modern-primary-lightest);
}